/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */

    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);

    /**
     * typography
     */

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /**
  * border-radius
  */

    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /**
     * transition
     */

    --transition-timing: 0.2s ease;

}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

img, ion-icon, button, a {
    display: block;
}

span {
    display: inline-block;
}

html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
}

input {
    display: block;
    width: 100%;
    font: inherit;
}

input::placeholder {
    font: inherit;
}

body {
    background: var(--white);
}

/**
* scrollbar style
*/

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/


/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

/**
 * overlay
 */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: 0.5s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}


/**
* MODAL
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    animation: popup 1s ease-in-out 5s forwards;
}

@keyframes popup {

    0% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

}

.modal.closed {
    display: none;
}

.modal-close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.newsletter-img {
    display: none;
}

.modal-content {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background: var(--white);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    z-index: 2;
    animation: scaleUp 0.5s ease-in-out 5s forwards;
}

@keyframes scaleUp {

    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }

}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--salmon-pink);
    color: var(--white);
    font-size: 16px;
    padding: 5px;
    border-radius: var(--border-radius-sm);
}

.modal-close-btn:hover {
    opacity: 0.9;
}

.modal-close-btn ion-icon {
    --ionicon-stroke-width: 70px;
}

.newsletter {
    padding: 50px 30px;
    text-align: center;
}

.newsletter-header {
    margin-bottom: 20px;
}

.newsletter-title {
    color: var(--onyx);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 10px;
}

.newsletter-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    line-height: 1.6;
}

.email-field {
    font-size: var(--fs-7);
    padding: 8px 16px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--cultured);
    margin-bottom: 16px;
}

.btn-newsletter {
    background: var(--eerie-black);
    color: var(--white);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: var(--border-radius-sm);
    margin: auto;
    transition: var(--transition-timing);
}

.btn-newsletter:hover {
    background: var(--salmon-pink);
}


/**
 * NOTIFICATION TOAST
 */

.notification-toast {
    position: fixed;
    bottom: 80px;
    left: 20px;
    right: 20px;
    background: var(--white);
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
    transform: translateX(calc(-100% - 40px));
    transition: 0.5s ease-in-out;
    z-index: 5;
    animation: slideInOut 10s ease-in-out infinite;
}

@keyframes slideInOut {

    0%,
    45%,
    100% {
        transform: translateX(calc(-100% - 40px));
        opacity: 0;
        visibility: hidden;
    }

    50%,
    95% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

}

.notification-toast.closed {
    display: none;
}

.toast-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--sonic-silver);
}

.toast-close-btn ion-icon {
    --ionicon-stroke-width: 50px;
}

.toast-banner {
    width: 70px;
    height: 70px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
}

.toast-banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.toast-detail {
    width: calc(100% - 85px);
    padding-right: 10px;
}

.toast-message {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
    margin-bottom: 8px;
}

.toast-title {
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    color: var(--onyx);
}

.toast-meta {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header-top,
.header-user-actions,
.desktop-navigation-menu {
    display: none;
}

.header-main {
    padding: 20px 0;
    border-bottom: 1px solid var(--cultured);
}

.header-logo {
    margin-bottom: 20px;
}

.header-logo img {
    margin: auto;
}

.header-search-container {
    position: relative;
}

.header-search-container .search-field {
    font-size: var(--fs-7);
    color: var(--onyx);
    padding: 10px 15px;
    padding-right: 50px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
}

.search-field::-webkit-search-cancel-button {
    display: none;
}

.search-btn {
    background: var(--white);
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    color: var(--onyx);
    font-size: 18px;
    padding: 8px 15px;
    border-radius: var(--border-radius-md);
    transition: color var(--transition-timing);
}

.search-btn:hover {
    color: var(--salmon-pink);
}

.mobile-bottom-navigation {
    background: var(--white);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    z-index: 5;
}

.mobile-bottom-navigation .action-btn {
    position: relative;
    font-size: 26px;
    color: var(--eerie-black);
    padding: 10px;
}

.mobile-bottom-navigation .count {
    background: var(--bittersweet);
    color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}

.mobile-navigation-menu {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 20;
}

.mobile-navigation-menu.active {
    left: 0;
    visibility: visible;
}

.menu-top {
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--cultured);
}

.menu-top .menu-title {
    color: var(--salmon-pink);
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
}

.menu-close-btn {
    color: var(--eerie-black);
    font-size: 22px;
}

.menu-close-btn ion-icon {
    --ionicon-stroke-width: 50px;
}

.mobile-menu-category-list {
    margin-bottom: 30px;
}

.menu-category .accordion-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-category-list .menu-category {
    border-bottom: 1px solid var(--cultured);
}

.mobile-menu-category-list .menu-title {
    color: var(--onyx);
    font-size: var(--fs-6);
    font-weight: var(--weight-500);
    padding: 12px 0;
}

.accordion-menu > div {
    font-size: 14px;
}

.accordion-menu ion-icon {
    color: var(--onyx);
    --ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon,
.accordion-menu .remove-icon {
    display: none;
}

.accordion-menu .add-icon,
.accordion-menu.active .remove-icon {
    display: block;
}

.menu-category .submenu-category-list {
    margin-left: 10px;
}

.submenu-title {
    padding: 6px 0;
    font-size: var(--fs-6);
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
}

.submenu-title:hover {
    color: var(--davys-gray);
}

.submenu-category-list {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
    max-height: 148px;
    visibility: visible;
}

.menu-bottom .menu-category-list {
    margin-bottom: 20px;
}

.menu-bottom .menu-category {
    border-bottom: none;
}

.menu-bottom .menu-title {
    font-size: var(--fs-6);
    font-weight: var(--weight-500);
    color: var(--eerie-black);
    padding: 12px 0;
}

.accordion-menu.active .caret-back {
    transform: rotate(-0.25turn);
}

.menu-bottom .submenu-category-list {
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    padding: 0 15px;
    margin-left: 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
    border-bottom: 1px solid var(--cultured);
}

.menu-social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu-social-container .social-link {
    background: var(--cultured);
    color: var(--eerie-black);
    font-size: 20px;
    padding: 10px;
    border-radius: var(--border-radius-md);
}


/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

.banner {
    margin: 30px 0;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius-md);
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.slider-item {
    position: relative;
    min-width: 100%;
    max-height: 450px;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    scroll-snap-align: start;
}

.slider-item .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.banner-content {
    background: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: var(--border-radius-md);
}

.banner-subtitle {
    color: var(--salmon-pink);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.banner-title {
    color: var(--eerie-black);
    font-size: var(--fs-1);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
}

.banner-text {
    display: none;
}

.banner-btn {
    background: var(--salmon-pink);
    color: var(--white);
    width: max-content;
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
}

.banner-btn:hover {
    background: var(--eerie-black);
}


/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/

.category {
    margin-bottom: 30px;
}

.category-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.category-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    scroll-snap-align: start;
}

.category-img-box {
    background: var(--cultured);
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;
    border-radius: var(--border-radius-sm);
}

.category-content-box {
    width: 100%;
}

.category-content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.category-item-title {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
}

.category-item-amount {
    color: var(--sonic-silver);
    font-size: var(--fs-11);
}

.category-btn {
    color: var(--salmon-pink);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: capitalize;
}


/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    max-width: 320px;
    padding: 30px;
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 20;
}

.sidebar.active {
    left: 0;
    visibility: visible;
}

.sidebar-category {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--cultured);
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-title {
    color: var(--onyx);
    font-size: var(--fs-5);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: var(--weight-600);
}

.sidebar-close-btn {
    color: var(--eerie-black);
    font-size: 22px;
    font-weight: var(--weight-600);
}

.sidebar-close-btn ion-icon { --ionicon-stroke-width: 50px; }

.sidebar-accordion-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.sidebar .menu-title-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar .menu-title {
    font-size: var(--fs-5);
    color: var(--sonic-silver);
    font-weight: var(--weight-500);
}

.sidebar-accordion-menu ion-icon {
    color: var(--sonic-silver);
    font-size: 14px;
    --ionicon-stroke-width: 70px;
}

.sidebar-submenu-category-list {
    border-top: 1px solid var(--cultured);
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.sidebar-submenu-category-list.active {
    padding: 13px 0 8px;
    max-height: 122px;
    visibility: visible;
}

.sidebar-submenu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    padding: 2px 0;
}

.sidebar-submenu-title:hover { color: var(--eerie-black); }

.sidebar .product-name { text-transform: capitalize; }

.sidebar-accordion-menu.active .add-icon,
.sidebar-accordion-menu .remove-icon { display: none; }

.sidebar-accordion-menu .add-icon,
.sidebar-accordion-menu.active .remove-icon { display: block; }

.sidebar .showcase-heading {
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    color: var(--onyx);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
}

.sidebar .showcase {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar .showcase:not(:last-child) { margin-bottom: 15px; }

.sidebar .showcase-img { border-radius: var(--border-radius-sm); }

.sidebar .showcase-content { width: calc(100% - 90px); }

.sidebar .showcase-title {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-400);
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
}

.sidebar .showcase-rating {
    display: flex;
    align-items: center;
    color: var(--sandy-brown);
    font-size: 13px;
    padding: 4px 0;
}

.sidebar .price-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar .price-box del {
    color: var(--sonic-silver);
    font-size: 13px;
}

.sidebar .price-box .price {
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    color: var(--davys-gray);
}




/*-----------------------------------*\
  #PRODUCT MINIMAL
\*-----------------------------------*/

.product-minimal { margin-bottom: 30px; }

.product-minimal .product-showcase { margin-bottom: 10px; }

.product-minimal .showcase-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.product-minimal .showcase-container{
    min-width: 100%;
    padding: 0 5px;
    scroll-snap-align: start;
}

.product-minimal .showcase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--cultured);
    padding: 15px;
    border-radius: var(--border-radius-md);
}

.product-minimal .showcase:not(:last-child) { margin-bottom: 15px; }

.product-minimal .showcase-content { width: calc(100% - 85px); }

.product-minimal .showcase-title {
    color: var(--eerie-black);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}

.product-minimal .showcase-category {
    width: max-content;
    color: var(--davys-gray);
    font-size: var(--fs-8);
    text-transform: capitalize;
    margin-bottom: 3px;
}

.product-minimal .showcase-category:hover { color: var(--salmon-pink); }


.product-minimal .price-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-minimal .price {
    font-size: var(--fs-7);
    font-weight: var(--weight-700);
    color: var(--salmon-pink);
}

.product-minimal .price-box del {
    font-size: var(--fs-9);
    color: var(--sonic-silver);
}



/*-----------------------------------*\
  #PRODUCT FEATURED
\*-----------------------------------*/

.product-featured { margin-bottom: 30px; }

.product-featured .showcase-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}

.product-featured .showcase-container {
    min-width: 100%;
    padding: 30px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    scroll-snap-align: start;
}

.product-featured .showcase-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-featured .showcase-content { margin-top: 30px; }

.product-featured .showcase-rating {
    color: var(--sandy-brown);
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-featured .showcase-title {
    font-size: var(--fs-7);
    color: var(--eerie-black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.product-featured .showcase-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-300);
    margin-bottom: 10px;
}

.product-featured .price-box {
    font-size: var(--fs-3);
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.product-featured .price {
    color: var(--salmon-pink);
    font-weight: var(--weight-700);
}

.product-featured del {
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
}

.product-featured .add-cart-btn {
    background: var(--salmon-pink);
    padding: 8px 15px;
    color: var(--white);
    font-weight: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    border-radius: var(--border-radius-md);
    margin-bottom: 15px;
    transition: var(--transition-timing);
}

.product-featured .add-cart-btn:hover {
    background: var(--eerie-black);
    color: var(--white);
}

.product-featured .showcase-status { margin-bottom: 15px; }

.product-featured .showcase-status .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-400);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-featured .showcase-status-bar {
    background: var(--cultured);
    position: relative;
    height: 10px;
    border-radius: 5px;
}

.product-featured .showcase-status-bar::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    height: 4px;
    width: 40%;
    background: var(--salmon-pink);
    border-radius: 4px;
}

.product-featured .countdown-desc {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-featured .countdown {
    display: flex;
    gap: 5px;
}

.product-featured .countdown-content {
    padding: 5px;
    background: var(--cultured);
    border-radius: var(--border-radius-md);
    text-align: center;
}

.product-featured .display-number {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-500);
    min-width: 40px;
}

.product-featured .display-text {
    color: var(--davys-gray);
    font-size: var(--fs-11);
}




/*-----------------------------------*\
  #PRODUCT GRID
\*-----------------------------------*/


.product-main { margin-bottom: 30px; }

.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.product-grid .showcase {
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    transition: var(--transition-timing);
}

.product-grid .showcase:hover { box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }

.product-grid .showcase-banner { position: relative; }

.product-grid .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-timing);
}


